:root{
    --primary: #d5d6d2;
    --secondary: #800000;
}



#browseView{
    display: flex;
}


.card {
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 100ms;
    transition-timing-function: cubic-bezier(0,1.48,1,1.26);
}
.card:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.cardFlex{
    gap: 0.5em;
}

.product-title{
    margin-bottom: 1em;
}
.container-xxl {
    width: 100%; /* Full width */
    margin: auto; /* Center horizontally */
    max-width: 100%; /* Ensure container doesn't exceed viewport width */
    background-color: var(--primary) !important;
}

@media screen and (min-width: 576px){
    #desktop-tag{
        height: max-content;
        top: 1em;
        background-color: #d5d6d2;
    }
}