:root{
    --primary: #7a0019;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Set the height to 100% of the viewport height */
    font-family: monospace;
    transition: 0.2s;
}

.main-content {
    background-image: url("Screenshot 2024-06-07 at 10.05.53 AM.png");
    background-size: cover;
    background-position: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 4vw;
    text-shadow: 2px 3px black;
}

.footer img {
    height: 60px; /* Adjust based on your image size */
  }
  
.footer a {
    color: #ffffff; /* Ensure links are white */
  }
  
.footer p {
    margin-bottom: 10px;
  }
  
.cover {
    background-size: cover;
    background-position: center;
}

#message1, #message2 {
    margin-top: 20px;
}

.footer-container {
    margin-top: auto;
}

.footer {
    background-color: #800000; /* bg-dark */
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

.button-container {
    position: absolute;
    top: 60%;
    right: 250px; /* Adjust this value as needed */
    transform: translateY(-50%);
}

.btn-secondary {
    border: 3px solid maroon; /* Set border to bold maroon */
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: maroon;
    border-color: maroon;
    color: white;
}

#location-hours {
    margin-top: 20px;
    color: black; /* Ensure text color is black for visibility */
    text-align: center;
}

#location-hours h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#location-hours h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

#location-hours p {
    font-size: 1rem;
    margin-bottom: 10px;
}

#location-hours a.btn-secondary {
    border: 2px solid black; /* Maroon border */
    background-color: maroon; /* Solid maroon background */
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
}
