<div class="footer bg-dark text-light py-3">
	<link rel="stylesheet" href="/bootstrap/">
    <link rel="stylesheet" href="/css/styles.css">
	<div class="container d-flex justify-content-between align-items-center">
	  
	  <!-- Center Left: Crest -->
	  <div class="d-flex align-items-center">
		<img src="/css/images.jpg" alt="Crest"> <!-- Adjust height as needed -->
	  </div>
  
	  <!-- Center Right: Contact Us and Address -->
	  <div class="text-center">
		<p><strong>Contact Us</strong></p>
		<p><a href="/contact" class="text-light">Contact Page</a></p>
		<p>test@test.com</p>
		<p>883 29th Ave SE<br>Minneapolis, MN<br>55414</p>
		<p><a href="https://www.google.com/maps/place/University+of+Minnesota+ReUse+Program/@44.986216,-93.2899976,13z/data=!4m10!1m2!2m1!1sreuse+center+minneapolis!3m6!1s0x52b32cfa4feedb49:0xb0d5642097262580!8m2!3d44.9862152!4d-93.2137824!15sChhyZXVzZSBjZW50ZXIgbWlubmVhcG9saXNaGiIYcmV1c2UgY2VudGVyIG1pbm5lYXBvbGlzkgENc3VycGx1c19zdG9yZZoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VOWGNrbzNNVWwzRUFF4AEA!16s%2Fg%2F11g_t28p2?entry=ttu" target="_blank" class="text-light">Find ReUse Center on Google Maps</a></p>
	  </div>
	</div>
  </div>
  