<!-- This will be the contact page -->

<%- include("partials/header.ejs") %>

<main class="container-fluid">
    <h1>Page in progress - Michael was here !</h1>
</main>

<%- include("partials/footer.ejs") %>