<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="main.css" />
    <title>Astradux - Public</title>
  </head>
  <body>
    <div class="container-fluid vh-100 cover">
      <div class="content position-absolute top-50 start-50 translate-middle text-center">
        <h1>Astradux</h1>
        <h3 class="lead"> Free Stuff Catalog </h3>
        <a href="http://128.101.131.217:9999/" class="btn btn-primary">Browse Now</a>
 
        <h1>-</h1>
 
        <h3 class="lead"> Cheap Stuff at ReUse Center </h3>
        <a href="/browse?LIMIT=20&OFFSET=0" class="btn btn-primary">Browse Now</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
